@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Light.eot');
    src: local('Montserrat Light'), local('Montserrat-Light'),
        url('Montserrat-Light.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-Light.woff') format('woff'),
        url('Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-MediumItalic.eot');
    src: local('Montserrat Medium Italic'), local('Montserrat-MediumItalic'),
        url('Montserrat-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-MediumItalic.woff') format('woff'),
        url('Montserrat-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Thin.eot');
    src: local('Montserrat Thin'), local('Montserrat-Thin'),
        url('Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-Thin.woff') format('woff'),
        url('Montserrat-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-ExtraLightItalic.eot');
    src: local('Montserrat ExtraLight Italic'), local('Montserrat-ExtraLightItalic'),
        url('Montserrat-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-ExtraLightItalic.woff') format('woff'),
        url('Montserrat-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-BoldItalic.eot');
    src: local('Montserrat Bold Italic'), local('Montserrat-BoldItalic'),
        url('Montserrat-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-BoldItalic.woff') format('woff'),
        url('Montserrat-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-SemiBold.eot');
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
        url('Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-SemiBold.woff') format('woff'),
        url('Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-ExtraLight.eot');
    src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'),
        url('Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-ExtraLight.woff') format('woff'),
        url('Montserrat-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: light;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-ExtraBoldItalic.eot');
    src: local('Montserrat ExtraBold Italic'), local('Montserrat-ExtraBoldItalic'),
        url('Montserrat-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-ExtraBoldItalic.woff') format('woff'),
        url('Montserrat-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Italic.eot');
    src: local('Montserrat Italic'), local('Montserrat-Italic'),
        url('Montserrat-Italic.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-Italic.woff') format('woff'),
        url('Montserrat-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Bold.eot');
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
        url('Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-Bold.woff') format('woff'),
        url('Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-LightItalic.eot');
    src: local('Montserrat Light Italic'), local('Montserrat-LightItalic'),
        url('Montserrat-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-LightItalic.woff') format('woff'),
        url('Montserrat-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-BlackItalic.eot');
    src: local('Montserrat Black Italic'), local('Montserrat-BlackItalic'),
        url('Montserrat-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-BlackItalic.woff') format('woff'),
        url('Montserrat-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-SemiBoldItalic.eot');
    src: local('Montserrat SemiBold Italic'), local('Montserrat-SemiBoldItalic'),
        url('Montserrat-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-SemiBoldItalic.woff') format('woff'),
        url('Montserrat-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Regular.eot');
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
        url('Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-Regular.woff') format('woff'),
        url('Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Medium.eot');
    src: local('Montserrat Medium'), local('Montserrat-Medium'),
        url('Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-Medium.woff') format('woff'),
        url('Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-ExtraBold.eot');
    src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
        url('Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-ExtraBold.woff') format('woff'),
        url('Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Black.eot');
    src: local('Montserrat Black'), local('Montserrat-Black'),
        url('Montserrat-Black.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-Black.woff') format('woff'),
        url('Montserrat-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: black;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-ThinItalic.eot');
    src: local('Montserrat Thin Italic'), local('Montserrat-ThinItalic'),
        url('Montserrat-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-ThinItalic.woff') format('woff'),
        url('Montserrat-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

body {
    font-family: 'Montserrat';
    min-width: 0;

}

.grad {
    background: linear-gradient(107.56deg, #202020 0%, #040202 100%);
    height: 10000PX;

}


.main {
    width: 100%;
    height: 820px;
    float: left;
    background: url(../img/bg2.png)no-repeat;
    background-size: cover;
    position: relative;
}

.main::after {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    background: linear-gradient(107.56deg, #202020 0%, #040202 100%);
    opacity: .85;
    height: 100%;
    width: 100%;
}


header {
    margin-top: 80px;
    height: 86px;
    width: 100%;
    border-bottom: 2px solid #FFFFFF;
    position: relative;
    z-index: 1;



}

.moscow {
    font-size: 28px;

}

.moscow p {
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 1.4px;
    color: #fff;
    z-index: 5;
    position: relative;

}

.logo {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 4px;
    line-height: 40px;
    color: #fff;
    z-index: 1;


}


.june p {
    margin-left: 20px;
    font-size: 28px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    color: #fff;
    position: relative;
    z-index: 5;
}


main {
    margin-top: 80px;
    height: 1000px;
    width: 100%;
    position: relative;
    z-index: 5;

}

.txth1 {
    font-size: 60px;
    line-height: 75px;
    color: #fff;
    font-style: black;
    font-weight: 900;
    letter-spacing: 3px;


}



.more_other {
    margin: 0 auto;
}

.gth {
    margin-top: -5px;
    margin-left: 5px;
    color: #fff;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 4.5px;
    line-height: 45px;
}

.btn {
    margin: 0 auto;

}

.btn button {
    background: none;
    text-transform: uppercase;
    margin-top: 30px;
    width: 243px;
    height: 58px;
    font-size: 18px;
    font-weight: 800;
    line-height: 20px;
    font-size: 18px;
    letter-spacing: 0.9px;
    color: #fff;
    border: solid 1px;
    border-radius: 5px;
}

.soc {
    margin-top: 70px;
}

.cov p {
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1.4px;
}

.icon {
    margin: 0 0 0px 0px;
    justify-content: flex-end;


}

.icon img {
    margin-top: 8px;
    margin-left: 15px;
}

@media (max-width:800px) {
    .txth1 {
        font-size: 50px;
        line-height: 62.5px;
        color: #fff;
        font-weight: 900;
        letter-spacing: 2.5px;
        z-index: 10;
    }

    .logo {
        font-size: 35px;

    }

    .gth {
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        letter-spacing: 3.6px;
    }

}

@media (max-width:400px) {
    .txth1 {
        font-size: 30px;
        line-height: 37.5px;
        color: #fff;
        font-style: black;
        font-weight: 900;
        letter-spacing: 1.5px;
        z-index: 10;
        width: 370px;
    }

    .logo {
        font-size: 26px;
        line-height: 26px;

    }

    .gth {
        font-size: 5px;
        font-weight: 700;
        text-align: center;
        letter-spacing: 10%;
    }
}

.lineup {
    float: left
}

h2 {
    font-size: 36px;
    font-weight: 900;
    line-height: 45px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #fff;
}

.line_title {
    margin-top: 82px;
}

.swiper-container {
    margin-top: 44px;
    box-sizing: border-box;
    overflow-x: hidden;
    position: relative;
    z-index: 5;
    overflow-y: hidden;

}

.swiper-slide {
    width: auto !important;
    border-radius: 10px;
}

.slider-AN {
    height: 564px;
    width: 400px;
    background: #fff;
    border-radius: 10px;
    transition: 1s;
}

.slider-AN1 {
    width: 800px;
    background: #fff;
    transition: 1s;
}

.card-slider-name {
    font-size: 28px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-align: start;
    padding-top: 30px;


}

.card-slider-genre {
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 0.9px;
    text-align: start;
}

.sliderIn {
    padding: 40px;
    width: 370px;
}


.ant p {
    margin-left: 20px;
    width: 370px;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.9px;
    display: none;
    transition: 1s;

}

.ant1 p {
    display: block;
    transition: 1s;
}


.wtf select {
    width: 500px;
    position: relative;
    z-index: 10;
    display: flex;
}

.wtf select option {
    width: 100px !important;
}

.dd1 {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    background: none;
    color: #fff;
}

.dd {
    margin-top: 45px;
    position: relative;
    z-index: 10;
}

ul {
    margin-left: 70px !important;
    width: 315px;
    height: 104px;
}


li button {
    font-size: 18px;
    font-weight: 800 !important;
    letter-spacing: 0.05em;
    text-transform: uppercase;
     width: 150px;
    height: 30px;
    float: left;
    margin-top: 5px;
    color: #000;
}

li a:active {
    background: none !important;
    color: black !important;
}

ul:after {
    content: '';
    position: absolute;
    top: 100%;
    border-style: solid;
    top: -10px;
    left: 96px;
    border-width: 0px 30px 30px 30px;
    border-color: #fff transparent;
    z-index: -1;
    display: flex !important;
}

.ddarow {
    margin-left: 10px;
    margin-top: 8px;
}

.ddtitle {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #fff;
    margin-left: 15px;
}

.scrolset {
    margin-top: 100px;
}

.vll {
    padding-top: 50px;
    background: url(../img/Vector1.svg)no-repeat 100% -5%;
}


.partners {
    float: left;
    margin-top: 153px;
}

.lol {
    width: 400px;
    height: 400px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;


}

.lol .t {
    margin: 0 auto;
}


.part-scroll {
    height: 58px;
    margin-top: px;
    position: relative;

}

.pimg {
    background: url('../img/Vector1.svg')no-repeat 100.1%;
    height: 30px;
    width: 1320px;
    position: absolute;
    top: -14px;
}

.swiperPartner {
    margin-top: 44px;
    box-sizing: border-box;
    overflow-x: hidden;
    position: relative;
    z-index: 5;
    overflow-y: hidden;
}

.scrollset {
    margin-top: 50px;
    padding-top: 10px;
    background: url(../img/Vector1.svg)no-repeat 100.1% 33%;
}

.scrollset button {
    height: 58px;
    margin-top: -5px;
    width: 246px;
    border: solid 1px #fff;
    border-radius: 5px;
    margin-right: 50px;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.05em;

}

 .button_ani:hover {
    background: #FFF;
    color: #000
}

.swiper-scrollbar {
    margin-top: 20px;
    height: 40px;
    width: 79%;
    position: relative;
    background: none !important;

}

.swiper-scrollbar::after {
    content: "";
    top: 3px;
    bottom: 0;
    width: 100%;
    height: 1px !important;
    border: solid 1px #fff !important;
    position: absolute;
    z-index: 1;
}

.swiper-scrollbar-drag {
    height: 8px !important;
    border: solid 1px #fff;
    width: 20% !important;
    background: #000 !important;
    z-index: 2;

}

.swiper-scrollbar1 {
    margin-top: -5px;
    height: 40px;
    width: 79%;
    position: relative;
}

.swiper-scrollbar1::after {
    content: "";
    top: 3px;
    bottom: 0;
    width: 127.5%;
    height: 1px !important;
    border: solid 1px #fff !important;
    position: absolute;
    z-index: 1px;
}

.scrollset1 {
    margin-top: 45px;
    padding-top: 16px;
    background: url(../img/Vector1.svg)no-repeat 100.1% 10%;
}

.swiper-scrollbar1 .swiper-scrollbar-drag {
    height: 8px !important;
    border: solid 1px #fff;
    width: 25% !important;
    background: #000 !important;

}


.ticket {
    margin-top: 134px;
    height: 725px;
    float: left;
    position: relative;
}

.tick {
    margin-top:-8px;
   
    align-items: center;

}

.tick .ddarow {
  margin-left:;
}

.tick .ddarow img{
    margin-left: 10px;
}
.tick .ddtitle {
  margin-left:12px;
}

button,
.tick .p {
    color: #FFF;
    font-size: 28px;
    background: none;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-weight: 700;
    z-index: 10;
    position: relative;
}

.ticket_title {
    margin-top: -14px;
}

.ticket_block {
    margin-top: 12px;
    margin-left: px;
}

.ticket_subtitle {
    width: 645px;
    height: 90px;
    background: #fff;
    margin-top: 30px;
    border-radius: 10px;
}

.ticket_subtitle p {
    font-size: 28px;
    letter-spacing: 1.4px;
    font-weight: 700;
    text-transform: uppercase;

}

.ticket_subtitle_title {
    margin-top: 15px;
    margin-left: 20px;
}

.rt {
    width: 400px;
}

.R {
    margin-left: 90px;
}

.Ra {
    font-weight: 400 !important;
}

.ticket_button {
    margin-top: 25px;
}

.ticket_button button {
    background: none;
    text-transform: uppercase;
    margin-top: 25px;
    width: 243px;
    height: 58px;
    font-size: 18px;
    font-weight: 800;
    line-height: 20px;
    font-size: 18px;
    letter-spacing: 0.9px;
    color: #fff;
    border: solid 1px;
    border-radius: 5px;
}

.place {
    float: left;
    height: 897px;
    position: relative;

}

@media(min-width:168px) {
    .place {
        margin-top: 350px;
    }
}

@media(min-width:1268px) {
    .place {
        margin-top: 45px;
    }
}


.place h2 {
    margin-top: px;
}

.place_drop {
    margin-left: 1px;
}

.place_block {

    margin-top: 44px;
}


.place_txt {
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: #fff;
    margin-left: 30px;
}

.place_txt_space {
    margin-top: 35px;
}

.place_button {
    margin-top: 27px;
    margin-left: 2.5px;
}

.place_button button {
    background: none;
    text-transform: uppercase;
    margin-top: 25px;
    width: 280px;
    height: 58px;
    font-size: 18px;
    font-weight: 800;
    line-height: 20px;
    font-size: 18px;
    letter-spacing: 0.9px;
    color: #fff;
    border: solid 1px;
    border-radius: 5px;

}

@media(max-width:991px){
    .place_txt{
        margin-left: 0px;
    }
}



.scheme {
    float: left;
}

.scheme h2 {
    float: left;
    margin-bottom: -2px;
}

.scimg{
    margin-top:43px;
}

.how h2{
    margin-top: 160px;
    margin-bottom: -2px;
    margin-left: 
}

@media(max-width:1268px) {
   .scheme {
    margin-top: 400px;
}
}

@media(max-width:968px) {
   .scheme {
    margin-top: 500px;
}
}